<a href="https://colab.research.google.com/github/hanifsr1304/data-mining/blob/main/akurasi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
path_dataset ="/content/creditapproval.csv"

In [3]:
df=pd.read_csv(path_dataset)

In [4]:
df.head()

,nama_nasabah,jenis_kelamin,umur,jml_pinjaman,jkw,jml_angsuran_per_bulan,type_pinjaman,jenis_pinjaman,bi_sektor_ekonomi,col,bi_golongan_debitur,bi_gol_penjamin,saldo_nominatif,tunggakan_pokok,tunggakan_bunga,status kredit
0,x1,P,40.0,345000.0,1,345000.00,100,301,6000.0,1,874,875,345000.0,345000.00,0.0,MACET
1,x2,L,31.0,350000.0,7,55716.00,100,301,6000.0,1,874,875,390000.0,111428.00,0.0,MACET
2,x3,L,37.0,649926.0,6,108321.00,100,301,6000.0,1,874,875,649926.0,216642.00,0.0,MACET
3,x4,P,2.0,459168.0,12,38264.00,100,301,6000.0,1,874,875,459168.0,382640.00,0.0,MACET
4,x5,P,34.0,3055499.0,8,381937.41,100,301,6000.0,1,874,875,3055499.0,1527749.48,0.0,MACET

In [5]:
df.shape

(866, 16)

In [6]:
df.columns

Index(['nama_nasabah', 'jenis_kelamin', 'umur', 'jml_pinjaman', 'jkw',
       'jml_angsuran_per_bulan', 'type_pinjaman', 'jenis_pinjaman',
       'bi_sektor_ekonomi', 'col', 'bi_golongan_debitur', 'bi_gol_penjamin',
       'saldo_nominatif', 'tunggakan_pokok', 'tunggakan_bunga',
       'status kredit'],
      dtype='object')

In [7]:
# evaluate a logistic regression model using k-fold cross-validation
from numpy import mean
from numpy import std
from sklearn.datasets import make_classification
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
# create dataset
X, y = make_classification(n_samples=866, n_features=20, n_informative=15, n_redundant=5, random_state=1)
# prepare the cross-validation procedure
cv = KFold(n_splits=10, random_state=1, shuffle=True)
# create model
model = LogisticRegression()
# evaluate model
scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
# report performance
print('Accuracy: %.3f (%.3f)' % (mean(scores), std(scores)))

Accuracy: 0.850 (0.039)

In [10]:
#contoh pustaka
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
#data prediksi dan target
target=[1,1,1,1,1,1,1,0,0,0,0,0,0]
prediksi=[1,1,1,1,1,0,1,0,0,0,0,0,0]
#mengetahui akurasi
print(classification_report(target,prediksi))
akurasi=accuracy_score(target,prediksi)
print("akurasi:",round (akurasi,2))

              precision    recall  f1-score   support

           0       0.86      1.00      0.92         6
           1       1.00      0.86      0.92         7

    accuracy                           0.92        13
   macro avg       0.93      0.93      0.92        13
weighted avg       0.93      0.92      0.92        13

akurasi: 0.92